<h1 mat-dialog-title>POKEDEX</h1>

<mat-dialog-content>Pokémon are creatures of all shapes and sizes who 
    live in the wild or alongside humans. For the most part, Pokémon 
    do not speak except to utter their names. Pokémon are raised and 
    commanded by their owners (called “Trainers”). During their adventures, 
    Pokémon grow and become more experienced and even, on occasion, evolve 
    into stronger Pokémon. There are currently more than 700 creatures that 
    inhabit the Pokémon universe.</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Back to results</button>
</mat-dialog-actions>