<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="50" alt="POKEMON Logo" src="/assets/pokemon_logo.png" />
  <span class="menu-text">FETCH POKEMON</span>
  <div class="spacer"></div>
</div>
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <div>
      <title>Pokemon Image</title>
      <div>
        <img class="title-logo" src="/assets/pokemon_ball.png" />
      </div>
    </div>
    <span class="title-text">Fetch Your Pokemon!</span>
  </div>
</div>

<section>
  <button
    mat-raised-button
    class="primary-button"
    (click)="getPokemonButtonClicked()"
  >
    FETCH POKEMON
  </button>
</section>

<div class="image-container">
  <div class="results-container">
    <div class="result" *ngFor="let pokemon of pokemon$ | async">
      <img class="pokemon-image" [src]="'https://assets.pokemon.com/assets/cms2/img/pokedex/full/' + (pokemon.url | pokedexId) + '.png'"/>
      <br/>
      <button class="name" mat-raised-button (click)="openDialog()">{{ pokemon.name }}</button>
    </div>
  </div>
</div>
